/* * {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }; */

#app {
    background-color: red;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    overflow: hidden;
    
}

.rightviewport {
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr
}

/* .profileandmessages {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

.messages{
  grid-column-start: 2;
} */

.replybtn{
  margin-bottom: 10px;
}

.postdetails .title {
  font-weight: normal;
}

.postdetails .description {
  border: none;
  margin-bottom: 0;
}

.title {
  font-weight:bolder
}

.description {
  margin-bottom: 10px;
}

.allmyposts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

