* { 
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vh;
  margin: 0px;
  padding: 0px;

}

#app {
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 8px;
  
  height: 100%;
  width: 100%;


  background: red
    
}

.PostsScreen {
  
  grid-column-start: 1;
  grid-column-end: 2;
  
}

.rightviewport {
  background-color: grey;
  display: flex;
  
}

/* .profileandmessages {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

.messages{
  grid-column-start: 2;
} */

.sendandreceived {
  display: flex;
  flex-direction: row;
}

.replybtn{
  margin-bottom: 10px;
}

.postdetails .title {
  font-weight: normal;
}

.postdetails .description {
  border: none;
  margin-bottom: 0;
}

.title {
  font-weight:bolder
}

.description {
  margin-bottom: 10px;
}

.allmyposts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

